body{
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
}

#hero{
    position: relative;
    width:100%;
    height: 506px;
    

    background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),
    url("./images/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    .hero-container{

        .hero-title h1{
            font-family: SST Arabic;
            font-style: normal;
            font-weight: normal;
            font-size: 72px;
            line-height: 187.5%;
            /* identical to box height, or 135px */

            text-align: right;
          

            color: #00BDC3;

            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            
        }
        .hero-content p{
            font-family: DIN Next LT Arabic;
            font-style: normal;
            font-weight: normal;
            font-size: 36px;
            line-height: 187.5%;
            /* identical to box height, or 67px */

            text-align: right;
            

            /* Text Black */

            color: #202020;

            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        }
        
    }
}

#features-pics{
    margin:  100px 0;
    .pics-container{
        width: 100%;
        max-width: 1220px;
        display: flex;
        justify-content: center;
        div img{
            max-width: 200px;
        }

        .img3{
            position: relative;
            bottom: 20px;
            z-index: 2;
            
        }
        .img1{
            position: relative;
            left: 30px;
        }
        .img2 {
            position: relative;
            left: 10px;
        }
        .img4 {
            position: relative;
            right: 10px;
            z-index: 1;
        }
        .img5 {
            position: relative;
            right: 30px;
        }
    }
}

#third-section{
    display: flex;
    gap: 100px;
    .child-section{
        position: relative;
        min-height:400px;
        .img img{
            position: relative;
            
        }
        .text{
            
            
            h2,p{
                text-align: center;
            }
        }
    }
}

.form-container{
    max-width: 992px;
     margin: 0 auto;
#form-section {
    position: relative;
    padding: 70px;
    margin: 100px 0;
    
    border: 2px solid #E5E5E5;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 26px;

    h2 {


        font-family: SST Arabic;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 46px;
        /* or 128% */

        text-align: center;

        color: #231D4F;
        margin:  50px 0;

    }

    .steps {

        display: flex;
        justify-content: space-between;
        gap: 30px;
        flex-wrap: wrap;
        margin-bottom: 50px;

        span::before {
            content: url(./images/tick.png);
        }
    }

    .form {
        form {
            text-align: right;

            .row {
                .submit-btn{
                    width: 100%;
                    max-width: 50%;
                    margin: 0 auto;
                    background-color: #00CDD4;
                    border: 0;
                    outline: 0;
                    border-radius:6px;
                    color: #fff;
                    min-height: 50px;
                    margin-top: 50px;
                }
                .form-group {

                    .form-ctrl {
                        height: calc(1.5em + .75rem + 2px);
                        // padding: .375rem .75rem;
                        font-size: 1rem;
                        font-weight: 400;
                        line-height: 1.5;
                        color: #495057;
                        background-color: #fff;
                        background-clip: padding-box;
                        border: 1px solid #ced4da;
                        border-radius: .25rem;
                        transition: border-color .15s ease-in-out,
                            box-shadow .15s ease-in-out;
                    }

                }

                .form-g {
                    padding: 0 15px;
                    width: 35%;
                }

                .form-gr {
                    padding: 0 15px;
                    width: 30%;
                }
            }
        }
    }
}
}

@media screen and (min-width: 601px) {
    #features-pic-carousel{
        display: none;
    }
}


@media screen and (max-width: 600px) {
    .pics-container{
        display: none!important;
    }
    #third-section {
        display: block;

        .child-section {
            

            .img img {
               display: block;
               margin-left: auto;
               margin-right: auto;


            }

            .text {


                h2,
                p {
                    text-align: center;
                }
            }
        }
    }
    .form-container{
#form-section {
    padding: 50px 15px;

    .steps{
        text-align: right;
        display: block;
        column-count: 2;
    }
    .form {
        form {
            .row{
                .form-gr{
                    width: 100%;
                }
                .form-g{
                    width: 100%;

                    .form-ctrl{
                        width: calc(100% - 80px);
                    }
                }
            }
        }
    }
}
    }
    
}


// Slider only
.slider{
    .slide{
        width: 100%;
        max-width: 100px;
        img{
            max-width: 90px;
            height: auto;
        }
    }
}
.slick-next,
.slick-prev {
    border: 0;
    outline: 0;
    background: transparent;
    color: transparent;
    font-size: 1px;
}
.slick-next:focus,
.slick-prev:focus {
    outline: none;
}

.slick-next:before {
    content: url(./images/Arrow-left.png );
    color: green;
    font-size: 50px;
    position:absolute;
    top: 50%;
    right: 10%;
    transform: translate(-50%, -50%);
}



.slick-prev:before {
    content: url(./images/Arrow-right.png);
    color: green;
    font-size: 20px;
    position:absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    z-index: 99;
}